* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1380px;
    margin: auto;
}

.header {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header h1 {
    color:  #F9FAF8;
    font-size: 48px;
    font-weight:500;
}

.header .col-2  p {
    font-size: 24px;
    color: #E5E7EB;
    opacity: 0.7;
}

.container {
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.container .row {
    padding-top: 48px;
    padding-bottom: 48px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    height:350px;
    padding: 20px 20px;
}

.btn {
    display: inline-block;
    background-color: #3882F6;
    padding: 12px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
    font-weight: bold;
}

.btn:hover {
    background-color: #0847ac;
}

.small_container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.small_container h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    box-shadow: 0px 16px 15px -9px rgba(0, 0, 0, 0.15);
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img{
    width: 100%;
    height: 180px;
    border-radius: 12px;
}

.col-4 p {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.testimonial {
    width: 100%;
    background-color: #E5E7EB;
    box-shadow: 0px 16px 15px -9px rgba(0, 0, 0, 0.11);
}

.testimonial .row {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 25px;
    font-size: 36px;
    color: #1F2937;
}

.testimonial p {
    font-style: italic;
    font-weight: 300;
}
.testimonial h3 {
    width: 70%;
    text-align: right;
}

.sign_up {
    background-color: #3882F6;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 12px;
}

.sign_up .btn {
    border: solid 1px white;
    margin-left: 200px;
}

.sign_up .col-2 h3{
    color: #E5E7EB;
}

.sign_up .col-2 p{
    color: #E5E7EB;
}

.footer {
    width: 100%;
    background-color: #1F2937;
    height: 80px;
    padding-top: 0px;
    text-align: center;
}

.footer span {
    color:#F9FAF8;
    
}

.footer .span {
    width: 100%;
    padding-top: 30px;

}

/* Login */

.form-container {
    position: relative;
    width: 621.12px;
    height: 528px;
    text-align: left;
    margin: auto; /*centraliza o elemento sem precisar usar todos os valores*/
    margin-top: 30px;
    margin-bottom: 130px;
  }
  
  .form-container span {
    font-weight: bold;
    font-size: 72px;
    font-family: 'Inter', sans-serif;
    padding-top: 13px;
    width: 100%;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
    color: #333333;
  }
  .form-container form {
    max-width: 300px;
    padding-top: 55px;
    position: absolute;
    padding-bottom: 30px;
  }
  
  form input {
    width: 200%;
    height: 60px;
    margin: 20px 0;
    padding-left: 27px;
    border: solid 1.53px #000000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #000000;
  }
  
  form .btn {
    width: 200%;
    border: none;
    cursor: pointer;
    height: 54px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-radius: 23px;
    background-color: #3882F6;
  }
  
  .btn {
    margin-top: 59px;
  }
  
  form .btn:focus {
    outline: none; /*quando eu clicar no icone N ira aparecer o fundo*/
  }
  
  form .registro {
    width: 200%;
    font-family: 'Roboto', sans-serif;
    height: 28px;
    margin-top: 20.1px;
    text-align: center;
    color: #222222;
    font-size: 21.47px;
  }

  form a {
    text-decoration: none;
  }

  form .registro a{
    color: #1a55a7;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

  }
